body{
		padding: 0px;
		margin: 0px;
	}

	.row-1{
		color: grey;
		background-color: black;
	}

	.button{
		background-color: #00c9c9;
		color: white;
		padding-bottom: 10px;
		padding-right: 20px;
		padding-left: 20px;
		border:none; 
	}

	.a-1{
		color: grey;

	}	

	/*--------------------------*/

	.nav-link{
		font-size: 13px;
		color: black;

	}

	.link-men{
		margin-left: 250px;
	}
	.search-icon-1{
		position: absolute;
		right: 50px;
	}	

	.search-icon{
	position: absolute;
	left: 170px;
	top: 8px;
}	

.brand-name{
		padding-top: 10px;
		padding-left: 100px;
		text-decoration-style: none;
		font-weight: bold;

	}

	.nav-2{
	background-color:  #F7F9F9;
}

/*---------------------------------*/

 .img-1{
 		opacity: 0.2;

 }



.brand{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

.text-1{
		font-family: arial;
		position: absolute;
		top: -350px;
		left: 120px;
		color: grey;
		font-size: 200px;

	}


	/*-------------------------------*/
	.body-part{
	
	margin-bottom: 50px;
}

.body-part-img{
	width: 90px;
}

.body-part{
		background-color:  #F7F9F9;
}
.img-2{
	width: 100%;
	height: 300px;	
	
}



	.pic-para-3{
	font-size: 11px;
	color: grey;

}

.pic-para-4{
	font-size: 8px;
	color: grey;
	text-align: center;
	
}

.home-pic-6-border{
	border: 1px solid grey;
}
.pic-text-3{
	position: absolute;
	left: 130px;
	bottom: 60px;
	text-align: right;
}
.pic-text-4{
	position: absolute;
	right: 60px;
	bottom: 60px;
	text-align: right;
}

.last-row{
		background-color: #EAECEE ;
}


.pic-para{
	font-size: 11px;
	color: grey;
}

.pic-text{
	position: absolute;
	top: 10%;
	left: 5%;

}

.body-text{
	background-color: #EAECEE ;
}

.pic-text-1{
	position: absolute;
	bottom: 60px;
}

.pic-text-2{
	position: absolute;
	bottom: 20px;
}
.pic-para-1{
	font-size: 100px;
	color:  #00c9c9;
	margin-left: 100px;
}
.pic-para-2{
	font-size: 60px;
	color: #00c9c9;
}

.pic-text-3{
	position: absolute;
	left: 150px;
	bottom: 60px;
	text-align: right;
}


#p-2{
		text-decoration-line: line-through; 
	}

	.button-1{
		font-size: 12px;
		color: white;
		background-color: #151515;
		border:none;
	}

	.button-2{
		font-size: 12px;
		background-color: white;
		
		
	}


	.navbar-2{
		background-color: #F7F9F9;
	}

	.nav-link-1{
		padding:  20px;
		color: grey;
		font-family: bold;
		text-align: right;

	}

	.nav-link-1:hover{
		background-color: black;
		color: grey;

	}

	.button-sign-in{
		background-color: #00c9c9;
		color: white;
		border:none;
	}

	.button-create-account{
		background-color: white;  
	}
/*---------------------------------*/
.footer{
	color: grey	;
}



.footer-bg{
	background-color:  #F7F9F9;
	list-style-type: none;

}
.footer-1{
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
}

.footer-2{
	background-color:#00c9c9;
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
}
.p-2{
	font-size: 11px;
	color: grey;
}
.p-1{
	font-size: 13px;
	color: grey;
	
}